.homeContainer{
    width: 100vw;
}

.rowTop{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    gap: .5rem;
    box-sizing: border-box;
    overflow: auto;
}


.rowTop::-webkit-scrollbar{
    width: 8px;
    background-color: aqua;
    z-index: 4;
  }
.rowTop::-webkit-scrollbar-thumb{
     background-color: aqua;
     width: 8px;
  }

@media screen and (max-width:1420px){
    .rowTop{
        margin: 1rem;
        padding: .2rem;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto;
       
    }
}

@media screen and (max-width:1100px){
    .rowTop{
       
        grid-template-columns: auto auto auto;
       
    }
}
@media screen and (max-width:800px){
    .rowTop{
       
        grid-template-columns: auto auto;
       
    }
}

@media screen and (max-width:570px){
    .rowTop{
       
        grid-template-columns:auto;
       
    }
}

@media screen and (max-height:480px) {
    .rowTop{
       
        grid-template-columns:auto auto auto;
       
    }
}

@media screen and (max-height:480px) and (min-width:500px) {
    .rowTop{
       
        grid-template-columns:auto auto auto;
       
    }
    
}

@media screen and (max-height:480px) and (min-width:800px) {
    .rowTop{
       grid-template-columns:auto auto auto auto; 
    }
    
}

@media screen and (max-height:480px) and (min-width:1200px) {
    .rowTop{
       
        grid-template-columns:auto auto auto auto auto auto;
       
    }
}